@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.main-dropdown {
    color: black !important;
    background-color: rgb(37, 209, 89) !important;
    border-color: black !important;
}

.btn-log-in {
    color: black !important;
    background-color: rgb(37, 209, 89) !important;
    border-color: black !important;
}
