@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.main-dropdown {
    color: black !important;
    background-color: rgb(30, 215, 96) !important;
    border-color: black !important;
}

.btn-log-in {
    color: black !important;
    background-color: rgb(30, 215, 96) !important;
    border-color: black !important;
}

.progress-bar-container {
    margin-top: 1rem;
}

.progress-bar {
    background-color: rgb(30, 215, 96) !important;
}

.profile-image {
    display: block;
    border-radius: 2rem;
    width: 5rem;
    margin-left: 1rem;
}

.user-profile-display {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.profile-display-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.controls-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
