.song-display-card {
    box-shadow: 0.2rem 0.2rem 1rem gray;
    cursor: pointer;
}

.song-title {
    font-size: 1rem;
    font-weight: bold;
}

.song-artists {
    font-size: 0.75rem;
    font-style: italic;
}

.song-display-column {
    margin-bottom: 2rem;
}

.song-details-artist-image {
    object-fit: cover;
    width: 100%;
}
