.song-display-card {
    box-shadow: 0.2rem 0.2rem 1rem gray;
    cursor: pointer;
}

.song-title {
    font-size: 1rem;
    font-weight: bold;
}

.song-artists {
    font-size: 0.75rem;
    font-style: italic;
}

.song-display-column {
    margin-bottom: 2rem;
}

.modal-header {
    background: black;
    padding: 0 !important;
}

.song-details-artist-image {
    object-fit: cover;
    width: 100%;
    opacity: 0.5;
}

.open-modal-song-details {
    position: absolute;
    transform: translate(0, -11rem);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 8rem;
        border-radius: 0.5rem;
    }

    div {
        color: white;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h5 {
            font-style: italic;
        }
    }
}
